@charset "utf-8";
@use '../lib/global' as g;

.header{
  position: fixed;
  width: 100%;
  top: 0;
  padding: 1rem 0;

  &__inner{
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
  }

  &__logo{
    font-size: 2rem;
  }

  &__nav{
    display: flex;
    align-items: center;
    gap: 2rem;

    a{
      font-size: 1.6rem;
      color: #000;

      &.is-active{
        font-weight: bold;
      }
    }
  }
}